.contact{
    max-width: 980px;
    margin: 0 auto;
    }

.contact-title{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.contact-contact{
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0 4px #1FDAB3;
    opacity: 0.6;
    border-radius: 42px;
    padding: 0.5em 0.7em;
    margin: 10px;
}

.contact-details{
    list-style: none;
    padding: 0;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

    @media(min-width: 950px){
    
        .contact-title{
            font-size: 30px;
        }
        .contact-contact{
            font-size: 20px;
            margin: 10px;
        }
    }