
html{
    scroll-behavior: smooth;
}

section[id] {
    scroll-margin-top: 70px;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: white;
    color: black;
    padding-top: 70px;
}

a{
    text-decoration: none;
    color: black;
}

.horizontal-padding{
    padding-left: 25px;
    padding-right: 25px;
}

.vertical-padding{
    padding-top: 25px;
    padding-bottom: 25px;
}

.topheader{
    box-shadow: 0 4px 5px #e5e5e5;
    position: fixed;
    background-color: white;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

.topnav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 980px;
    margin: 0 auto;

}

.logo{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: #124f88;
}

.logo img{
    border-radius: 50%;
}

.menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li{
    padding: 0 15px;
}

.menu a{
    color: black;
    font-size: 18px;
    font-weight: 500;
    line-height: 50px;
    text-transform: uppercase;
}

.open-menu,
.close-menu{
    display: none;
}


@media (max-width: 950px) {
    
    .menu{
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        align-items: center;
        background-color: #3A4460;
        height: 100%;
        overflow-y: auto;

        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
    }
    
    .menu li{
        padding: 0;
    }
    
    .menu a{
        color: white;
        line-height: 60px;
    }
    
    .open-menu,
    .close-menu{
            display: block;
            border: none;
            background: none;
            cursor: pointer;
    }
    
    .close-menu{
        align-self: flex-end;
        padding: 26px 17px;
        color: whitesmoke;
    }

    .menu_opened{
        opacity: 1;
        pointer-events: all;
    }

    .horizontal-padding{
        padding-left: 70px;
        padding-right: 70px;
    }
    
    .vertical-padding{
        padding-top: 70px;
        padding-bottom: 70px;
    }
}
